* {
    margin: 0px;
    padding: 0px;
}
.cal {
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
table, th {
    border: 3px solid blue;
    border-radius: 10px;
    background-color: lightcyan;
}
th {
    max-width: 10px;
}
.result {
    height: 20px;
    display: flex;
    justify-content: right;
    padding-right: 10px;
    box-sizing: border-box;
    font-size: 40px;
    color: rgb(83, 5, 5);
}

.digit, .add, .equals, .clear, .sub, .mul, .div {
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
    box-sizing: border-box;
}